DB_USER=<database username>
DB_PASSWORD=<database user's password>
DB_HOST=<database host i.e. localhost or url to db>
DB_NAME=<name of the database to be created for project.. its just a name.>
JWT_SECRET=<any string can be used for secret, but make sure it stays SECRET>