.app-group {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.btn {
    border: 1px solid #303030 !important;
    padding: 18px;
    margin: 10px;
    // width: 120px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.btn.selected {
    border-color: #adaba6;
    background-color: white;
    color: black;
    border-color: #cf2020 !important;
    color: #cf2020;
    margin: 10px auto;
}

.selected-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 30px auto;

    .btn.selected {
        width: auto;
        margin: 10px;
        padding: 8px;
    }
}

.qt-result-group {
    margin: 10px auto 60px auto;
    width: 60%;

    .step-group {
        // border: 1px solid #808080;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 15px auto;
    }

    .btn {
        margin: 10px auto;
        padding: 10px;
    }
}

.qt-location-details {
    img {
        width: 60px;
        border-radius: 5px;
        display: inline-block;
    }

    h3 {
        display: inline-block;
    }

    .qt-details-group {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 20px 15px;

        .rating {
            color: #e0dd04;

            .small-badge {
                color: #808080;
                font-size: 0.8em;
            }
        }

        .pricing {
            color: #157741;
        }
    }
}

.loading-container {
    width: 100%;
    position: relative;

    .loader {
        // background-color: $via-red;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0%;
        transition: 3s left linear;
        img {
            width:200px;
        }
    }

    .loader.go {
        left: 100%;
    }
}

.adventure-choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .choice-group {
        margin: 20px 30px;
        box-shadow: -4px 4px 15px 2px rgba(0, 0, 0, 0.34);
        border-radius: 3px;
        padding: 20px;
        width: 28%;

        h4 {
            color: $via-red;
            margin: 18px auto;
            padding-bottom: 15px;
            border-bottom: 1px solid #808080;
        }

        div.btn {
            background-color: $via-red;
            color: #ffffff;
            border-color: $via-red !important;
            margin: 10px auto 18px auto;
        }

        ul {
            padding: 0;
        }

        li {
            list-style: none;
        }
    }
}

.adventure-destination-cntr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px auto;

    .adding-stop-time {
        width: 80%;
        padding: 60px 40px;
        box-shadow: -4px 4px 15px 2px rgba(0, 0, 0, 0.34);

        img {
            float: left;
            width: 200px;
            height: 200px;
            border-radius: 3px;
            margin-right: 20px;
        }
    }

    .destination-group {
        width: 300px;
        margin: 10px 10px;
        position: relative;
        box-shadow: -4px 4px 15px 2px rgba(0, 0, 0, 0.34);
        max-height: 80px;

        img {
            float: left;
            width: 80px;
            height: 80px;
            border-radius: 3px;
            margin-right: 20px;
        }

        h5 {
            text-align: left;
        }

        p {
            text-align: left;
        }

        .add-dest-btn {
            position: absolute;
            right: 10px;
            top: 30px;
            padding: 4px 8px;
            background-color: $via-red;
            color: #fff;
            border-radius: 3px;
            font-size: 13px;
        }
    }
}

.destination-stop {
    width: 60%;
    min-width: 300px;
    margin: 15px auto;
    padding-right: 50px;
    box-shadow: -4px 4px 15px 2px rgba(0, 0, 0, 0.34);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    img {
        width: 65px;
        height: 65px;
        float: left;
        border-radius: 3px;
    }

    h5 {
        margin-top: 22px;
    }

    p {
        margin-top: 22px;
    }
}

.arrive,
.depart {
    background-color: $via-red;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
    text-align: left;
}
