.app-group {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.btn {
    border: 1px solid #303030;
    padding: 18px;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.btn.selected {
    border-color: #cf2020;
    color: #cf2020;
    margin: 10px auto;
}

.selected-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .btn.selected {
        width: auto;
        margin: 10px;
        padding: 8px;
    }
}

.qt-result-group {
    margin: 60px auto;
    width: 70%;

    .step-group {
        border: 1px solid #808080;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 15px auto;
    }

    .btn {
        margin: 10px auto;
        padding: 10px;
    }
}

.qt-location-details {
    img {
        width: 60px;
        border-radius: 5px;
        display: inline-block;
    }

    h3 {
        display: inline-block;
    }

    .qt-details-group {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 20px 15px;

        .rating {
            color: #e0dd04;

            .small-badge {
                color: #808080;
                font-size: 0.8em;
            }
        }

        .pricing {
            color: #157741;
        }
    }
}
