.exampleClass {
    text-align: center;
    color: steelblue;
}
.error {
    background-color: #ffadad;
}

input {
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 300px;
    border: 1px solid #8e8e8e;
}
